.header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
}
.header__title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 100;
  text-transform: uppercase;
  width: fit-content;
  margin: 1rem auto;
  z-index: 0;
  flex: 1 1 0;
}
.header a {
  text-decoration: none;
}
.header a:hover {
  color: black;
}
.header__more-info {
  font-size: 1rem;
  width: fit-content;
  padding-left: 0;
  list-style: none;
}
.header__more-info li {
  font-weight: 300;
}
.header__decoration {
  content: "";
  height: 100vh;
  left: 0;
  z-index: 2;
  flex: 2 1 0;
}
.header__decoration.decoration-left {
  background: url(../../img/triangles/big_main.svg);
  top: 0;
  background-size: 100% 100%;
}
.header__decoration.decoration-right {
  width: 90vh;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  background: black;
}
.header__see-more {
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  height: 5rem;
  width: 20rem;
  -webkit-transition: background-image 0.5s linear;
  -moz-transition: background-image 0.5s linear;
  -ms-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
  justify-content: center;
  margin-top: 2rem;
}
.header__see-more:hover {
  background-image: url(../../img/triangles/more.svg);
  background-size: 100% 100%;
}

.triangle-header {
  width: 100%;
}

body {
  font-size: 2rem;
  margin: 0;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

h2 {
  margin: 0.5rem 0;
  font-size: 1.8rem;
  font-style: italic;
  text-transform: uppercase;
}

h3 {
  margin: 0.3rem 0;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 100;
}

p, li {
  font-size: 1.3rem;
}

p {
  font-weight: 100;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  font-weight: 100;
}

a {
  color: inherit;
  transition: 0.5s ease;
}
a:hover {
  transition: 0.5s ease;
  transform: skewX(-10deg);
  color: white;
  background: black;
  text-decoration: none;
}

.menu {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
}
.menu__links {
  position: fixed;
  display: flex;
  list-style: none;
  flex-direction: column;
  top: 23%;
  z-index: 5;
  height: 100vh;
  mix-blend-mode: difference;
  color: white;
  font-weight: light;
  width: 28vw;
  align-content: center;
  flex-wrap: wrap;
}
.menu__item {
  transition: 0.5s ease;
  font-size: 1rem;
}
.menu__item a {
  color: inherit;
  text-decoration: none;
}
.menu__item:hover, .menu__item:target {
  transition: 0.5s ease;
  transform: skewX(-10deg);
  font-weight: 400;
  margin-left: 0.5rem;
}

.about {
  color: white;
  display: grid;
  height: 100%;
}
.about__wrapper {
  background: black;
  padding-top: 4rem;
}
.about__info, .about h2 {
  padding-left: 30rem;
  width: 33rem;
}
.about::after {
  content: "";
  height: 10rem;
  width: 100%;
  background: black;
  -webkit-clip-path: polygon(0 91%, 100% 0, 0 0%);
  clip-path: polygon(0 91%, 100% 0, 0 0%);
}
.about__info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 3rem;
}
.about__info img {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.stack {
  padding: 4rem 30rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: white;
}

.contacts {
  padding-left: 30rem;
  padding-bottom: 4rem;
}

.projects {
  padding-left: 30rem;
}
.projects li img {
  width: 14rem;
  object-fit: cover;
}

.samples {
  padding: 3rem 30rem;
  background: black;
  color: white;
}
.samples code {
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.samples pre {
  margin: 0;
  border: 0.1rem solid white;
  width: max-content;
}

.footer {
  display: flex;
  padding: 0.5rem 10rem;
  justify-content: space-between;
  font-size: 0.8rem;
  border-top: 0.1rem solid black;
  align-items: center;
}
.footer object, .footer img {
  height: 2rem;
}

/*# sourceMappingURL=style.css.map */
