.footer
    display: flex
    padding: 0.5rem 10rem
    justify-content: space-between
    font-size: 0.8rem
    border-top: 0.1rem solid black
    align-items: center
    object, img
        height: 2rem
    a
        &:hover
            background: none
            