.stack
    margin: 0 auto
    width: 40%
    height: 100%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    background: white
    row-gap: 3rem
    &-list
        width: 25rem